/* CaRtOoNz CSS Styling (Yes, we are that good!) */

@import "font.css";

body {
	background: #000 url(../images/bg-texture.jpg) repeat-x; 
}
	
.container {
	width: 943px; 
	margin: 0 auto;
	background: url(../images/mascot-bg.png) no-repeat;
}

.mascot {
	width:316px;
	height:591px;
	margin: 10px auto 20px auto;
}

.boxes {
	width:315px;
	height:245px;
	margin-left:0;
	margin-bottom:0;	
}

/* ===== Top navigation ===== */

#topNav { height: 36px; display: block; }
.fixed { position: fixed; background: url(../images/topNav.jpg) repeat; width: 100%; color: #eeeeee; border-bottom: 1px solid #fff; z-index: 999; }

.welcome { float: left; }
.welcome img { float: left; margin: 8px 8px 8px 0 }
.welcome span { padding: 8px 5px; display: block; white-space: nowrap; float: left; font-size: 11px; }

.userNav { float: right; z-index: 6000; position: relative; font-size: 11px; }
.userNav .lastNav { width: 2px; height: 36px; background: url(../images/navSep.png) repeat-y; position: absolute; top: 0; right: 0; }
.userNav ul { margin-right: 2px; }
.userNav ul li { display: inline; float: left; position: relative; cursor: pointer; border-right: 1px solid #2f2f2f; }
.userNav ul li:first-child { border-left: 1px solid #2f2f2f; }
.userNav ul li a { color: #eeeeee; text-decoration: none; display: block; float: left; }
.userNav ul li:hover, .selected { background: #212121; }
.userNav ul li span { display: block; padding: 8px 14px 8px 8px; float: left; }
.userNav ul li img { float: left; display: block; margin: 13px 2px 11px 14px; }

.userNav ul li ul { position: absolute; left: -1px; display: none; top: 35px; margin-top: 0px; background: #2f2f2f; padding: 0 1px 1px 1px; border: 1px solid #1d1d1d; z-index: 100; }
.userNav ul li ul li { display: block; float: none; border-top: 1px solid #2f2f2f; background: #212121; border-right: none; }
.userNav ul li ul li:first-child { border-left: none!important; }
.userNav ul li ul li a { width: 162px; padding: 6px 10px 6px 15px; font-size: 11px; text-transform: none; color: #a4a4a4; font-weight: normal; background: none; float: none; }
.userNav ul li ul li a:hover { background: none; font-weight: normal; color: #737373; }
.userNav ul li ul li:hover { background: #1d1d1d!important; }

